.menuContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		margin: 0;
}

.menuMenu {
		align-content: flex-start;
		display: flex;
		flex-direction: column;
		overflow-x: hidden;
		overflow-y: scroll;
		/*flex-wrap: wrap;*/
		height: 85%;
		width: 95%;
}

.menuCard {
		width: 9em;
		height: 9em;
		background-color: rgba(0, 0, 0, 0.7);
		/*opacity: .7;*/
		padding: 1em;
		border-radius: 0.5em;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		align-self: flex-start;
		margin-right: 1em;
		margin-top: 0;
		margin-bottom: 1em;
}

.menuCard>.number {
		font-size: 3em;
		font-family: 'Pixar';
}

.menuCard>.title {
		font-size: 2em;
		font-family: 'Pixar';
}

.menuCard>.text {
		font-size: 1em;
		text-align: center;
}

.menuCards {
		display: flex;
		flex-wrap: wrap;
		/*flex-direction: row;*/
		align-items: flex-start;
		align-content: flex-start;
		justify-content: flex-start;
		/*padding: 0.5em;*/
		height: auto;
}

.worlds {
		background-color: rgba(0, 0, 0, 0.7);
		width: auto;
		border-radius: 0.5em;
		padding: 1em;
}

.worlds>h1 {
		color: white;
		font-family: 'Pixar';
}

.worldsCards {
		display: flex;
		flex-wrap: wrap;
		/*flex-direction: row;*/
		align-items: flex-start;
		align-content: flex-start;
		justify-content: flex-start;
		/*padding: 0.5em;*/
		height: auto;
}

.worldCard {
		width: 9em;
		height: 9em;
		background-color: rgba(0, 0, 0, 0.7);
		/*opacity: .7;*/
		padding: 1em;
		border-radius: 0.5em;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		align-self: flex-start;
		margin-right: 1em;
		margin-top: 1em;
		-webkit-box-shadow: 0px 0px 81px -1px rgba(0, 0, 0, 0);
		-moz-box-shadow: 0px 0px 81px -1px rgba(0, 0, 0, 0);
		box-shadow: 0px 0px 81px -1px rgba(0, 0, 0, 0);
		transition: all 0.5s ease-out;
		cursor: pointer;
}

.worldCard:hover {
		box-shadow: 0px 0px 81px -1px rgba(0, 0, 0, 0.75);
		width: 12em;
}

.worldCard>h1 {
		margin: 0;
		font-size: 2em;
		font-family: 'Pixar';
		color: white;
}

.worldCard>p {
		margin: 0;
		font-size: 1em;
		font-family: 'Pixar';
		/*display: none;*/
		/*visibility: hidden;*/
		height: 0;
		width: 0;
		opacity: 0;
		transition: 0.5s ease-out;
		overflow: hidden;
		border: none;
}

.worldCard:hover>p {
	margin-left: 0.5em;
	opacity: 1;
	/*display: block;*/
	/*visibility: visible;*/
	height: auto;
	width: auto;
	overflow: auto;
	padding-left: 0.5em;
	border-left: solid 2px white;
}

.topPlayersList {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 1em;
	border-radius: 0.5em;
	font-family: 'Pixar';
	color: white;
	margin-top: 0.5em;
	width: 50%;
}

.topPlayersList>.title {
	font-size: 2em;
	color: white;
}

.topPlayersList>.item {
}

.topPlayersList>.item>.points {
	margin-left: 0.5em;
	color: #2ecc71;
}
